name: Pylint

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*

jobs:
  lint:
    #runs-on: self-hosted
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10" , "3.11" , "3.12"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Alle Commits holen

      - name: Set up uv with Python ${{ matrix.python-version }}
        id: setup-uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          pyproject-file: "pyproject.toml"
          prune-cache: false
          cache-dependency-glob: "**/pyproject.toml"

      - name: Install dependencies
        run: |
          uv pip install .
          uv pip install pylint

      - name: Run pylint
        run: |
          pylint -j 0 --fail-under 9 --source-roots ./src batcontrol